<%- include ('../partials/html-head.ejs') %>
<%- include ('../partials/navbar.ejs') %>

<form action = "/profiles" method="POST">
    <div>
    <h2>General Information</h2>
      <label for ="name">Preferred Name: </label>
      <input type="text" name="name" id="name"></input>
    </div>
    <br>
    <div>
        <label for="isOrg"><b>Is this Profile for an Organization?</b></label>
        <br>
        <input type="checkbox" name="isOrg" value="True"> Yes, and the Preferred Name is the Organization Name.</input>
    </div>
    <br>
    <div><h2>Causes That Are Important to You</h2>
        <br>
        <% if (!causes.length) { %>
            <h2>No causes here yet</h2>
        <% } else { %>
            <% causes.forEach(causes => { %>
                <input type="checkbox" name="causes" value="<%= causes._id %>"> <%= causes.name %></input>
            <% }) %>
            <% } %>
    </div>
    <br>
    <div><h2>Your Current Skills</h2>
        <br>
        <% if (!skills.length) { %>
            <h2>No skills here yet</h2>
        <% } else { %>
            <% skills.forEach(skills => { %>
                <input type="checkbox" name="skills" value="<%= skills._id %>"> <%= skills.name %></input>
            <% }) %>
            <% } %>
    </div>
    <br>
    <div><h2>Skills You are Interested in Developing</h2>
        <br>
        <% if (!skills.length) { %>
            <h2>No skills here yet</h2>
        <% } else { %>
            <% skills.forEach(skills => { %>
                <input type="checkbox" name="interests" value="<%= skills._id %>"> <%= skills.name %></input>
            <% }) %>
            <% } %>
    </div>
    </div>
    <br>
    <button type="submit">Submit</button>
  </form>